extends ../layout

block content
  h1 Sign up
  form(action="/register", method="post")
      .form-group
          label(for='name') Name
          input#name(type='text', class='form-control' , name="Name" )
      .form-group
          label(for='email') Email
          input#Email(type='text', class='form-control', name="Email")
      .form-group
          label(for='password') Password
          input#Password(type='password', class='form-control' , name="Password")     
      input(type="submit" , class="btn btn-info" )
  
  
